* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
    transition: all 0.3s ease-in-out;
}

body.dark {
    background: #18191a;
}

.toggle {
    position: relative;
    height: 130px;
    width: 300px;
    border-radius: 100px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.toggle::before {
    content: "";
    position: absolute;
    height: 110px;
    width: 110px;
    background: linear-gradient(-225deg, #77FFD2 0%, #6297DB 48%, #1EECFF 100%);
    border-radius: 50%;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
}

.toggle.active::before {
    background: #18191a;
    left: calc(100% - 110px - 14px);
}